.conteudo-dashboard {
  padding: 16px;
  display: grid;
  gap: 16px;
}

.secao-titulo {
  margin-top: 24px;
}

.secao-titulo .titulo-pagina {
  color: #243343;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.secao-titulo .nome-representante {
  color: #243343;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}

.secao-valor-total {
  margin-top: 32px;
  text-align: center;
  /* border: 1px solid pink; */
}

.secao-valor-total .valor-total {
  font-weight: bold;

}

.secao-valor-total .descricao-total {
  margin-top: 12px;
}

.secao-grafico {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

/* parte da legenda */
.legenda-gastos {
  margin: auto;
}

.legenda-gastos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legenda-gastos li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  color: #243343;
}

.cor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}

.cor-gabinete {
  background-color: #1d3557; 
}

.cor-viagens {
  background-color: #6c7a89; 
}

.cor-combustivel {
  background-color: #457b9d; 
}

.cor-hospedagem {
  background-color: #a8dadc; 
}

.cor-outras {
  background-color: #52796f;
}
/* fim parte da legenda */
.botao-historico {
  margin-top: 18px;
  text-align: center;
}

.botao-historico button {
  background: #243343;
  color: var(--cor-branco);
  border: none;
  padding: 8px 50px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  align-items: center;
}

.botao-historico button a {
  text-decoration: none;
}