.secao-noticias {
  margin-top: 78px;
}

/* ÁREA PRINCIPAL */
.conteudo-noticias {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* TÍTULOS DAS SEÇÕES */
.titulo-secao {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
  color: var(--cor-primaria);
}

/* BANNER NOTÍCIA */
.banner-noticia {
  margin-top: 32px;
}

.banner-noticia img {
  width: 100%;
  box-shadow: var(--sombra-suave);
}

/* BOTÃO VER MAIS */
.botao-ver-mais {
  margin: 20px auto 0;
  display: block;
  background: #0356c26b;
  border: none;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 32px;
  cursor: pointer;
  box-shadow: #4a4a4a98 0px 2px 4px -1px;
}

.botao-ver-mais a {
  color: #00438B;
  font-weight: 800;
  text-decoration: none;
}

.botao-ver-mais:hover {
  opacity: .8;
}

/* SEGUINDO */
.secao-seguindo {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* GRID DE SEGUIDOS */
.lista-seguindo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  justify-items: center;
}

/* ITEM SEGUIDO */
.item-seguindo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-seguindo img {
  width: 102px;
  height: 102px;
}

.item-seguindo p {
  margin-top: 6px;
  font-size: .9rem;
  font-weight: 600;
  color: #004A8F;
}